---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>Astro練習</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>

<style lang="scss">
  $breakPoint: 896px;
  $siteWidth: 1000px;
  $contentWidth: 800px;

  body {
    font-family: "Raleway", sans-serif;
  }
</style>
