---

---

<footer class="footer">
  <div class="footer__content">
    <small class="footer__copyright">&copy; Totaly</small>
  </div>
</footer>

<style lang="scss">
  $siteWidth: 1000px;
  $contentWidth: 800px;

  .footer {
    max-width: $siteWidth;
    padding: 10px 20px;
    margin: 100px auto 0 auto;
    &__content {
      text-align: center;
      margin: 0 auto;
      max-width: $contentWidth;
    }

    &__copyright {
      font-size: 10px;
      color: #383e45;
      line-height: 1.1;
      text-transform: uppercase;
    }
  }
</style>
